.pr2 {
    display: grid;
    height: 100%;
    border-radius: 4px;
    grid-gap: 5px;

}

.posts_0{
    display: grid;
    grid-template-rows: 200px auto;
    grid-gap: 5px;
    padding: 5px;
}


.ps1 {
    display: grid;
    height: 100%;
    border-radius: 4px;
    grid-gap: 5px;
}

.ps2 {
    display: grid;
    height: 100%;
    border-radius: 4px;
    grid-gap: 5px;
}

.creat_post {
    display: grid;
    grid-template-rows: 30px minmax(40px, auto) 30px;
}
.creat_post .f1{
    display: grid;
    justify-items:start;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
}


.creat_post .f2{
    display: grid;
    justify-items:start;
    align-items: center;
    padding: 15px;
}
.creat_post .f3{
    display: grid;
    justify-items:end;
    align-items: center;
    padding-right: 15px;
}

.creat_post textarea {
    display: grid;
    width: 100%;
    height: 100%;

}
.f2 textarea {


}