body{
  background: #edeef0;
}

.app {
  text-align: center;
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-areas:
          "header header header"
          "nav content content";
  grid-template-columns: 150px 400px 400px;
  grid-template-rows: auto minmax(600px, auto);
  grid-gap: 10px;

}

/*START - Top long header*/
.back {
  position: absolute;
  width: 100%;
  background: #4a76a8;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #4872a3;
  display: block;
}
/*END - Top long header*/











.app_content {
  align-items: start;
  grid-area: content;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin-bottom: 10px;

}